header {
    text-align: center;
    background-color: #f55b08cb;
}

header > h1 {
    color: black;
}

header > ul > li {
    display: inline;
    border: 1px solid black;
    padding: 5px;
    margin: 100px;
}

#openStatus {
    color: rgb(58, 11, 41);
}

body {
    background-color: hsla(320, 79%, 44%, 0.2);
}

#heroPic {
    max-width: 400px;
}

#heroPic > img {
    width: 300px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#breweryDesc {
    max-width: 400px;
}

#breweryDesc > p {
    text-align: left;
}

#brewList {
    max-width: 400px;
}

#breweryMap {
    max-width: 400px;
}

#opHours {
    max-width: 400px;
}

.bodyChunk {
    border: 1px solid black;
}

/* .upper {

} */