* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    text-align: center;
    /* background-color: #7a3e1dcb; */
    background-image: linear-gradient(to bottom right, rgb(255, 166, 0), rgb(165, 22, 165));
}

header > h1 {
    color: black;
}

#address > li {
    display: inline;
    border: 1px solid black;
    padding: 5px;
    margin: 50px;
}

#openStatus {
    color: rgb(58, 11, 41);
}

#beerGlasses > li {
    display: inline;
    padding: 5px;
    margin: 50px;
}

#beerGlasses > li > img {
    max-width: 30px;
}

body {
    background-color: hsla(320, 79%, 44%, 0.2);
}

#heroPic {
    max-width: 700px;
    max-height: 700px;
    width: 48%;
}

#heroPic > img {
    width: 300px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
}



#breweryDesc {
    text-align: left;
    width: 48%;
    float: right;
    font-size: x-large;
}

#breweryDesc > p {
    text-align: left;
    position: relative;
}

#brewList {
    width: 48%;
    float: left;
}

#breweryMap {
    width: 48%;
}
